
/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Language definition
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
	1			"Certificate successfully downloaded"
	2			"Error in the server URL or in obtaining the certificate.\nPlease check your settings"
	3			"There was an error loading configuration.\nPlease, check your settings"
	4			"Configuration loaded successfully"
	5			"Configuration failed.\nPlease check settings parameters"
	6			"You are not logged in as admin user. \nOnly an administrator user can make changes to the configuration"
	7			"Your changes will be saved \nDo you want to continue?"
	8			"Error parsing the server URL"

	1000	"Information"
	1001	"Error"
	1002	"Notice"
END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dialog resources
//
IDD_DIALOG_ESSO_CONFIG DIALOG 0, 0, 439, 278
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Soffid ESSO configuration tool"
FONT 8, "Ms Shell Dlg"
{
	DEFPUSHBUTTON		"OK", IDOK, 304, 257, 50, 14
	PUSHBUTTON				"Cancel", IDCANCEL, 375, 257, 50, 14
	LTEXT							"From this screen you can configure various aspects of Soffid ESSO funtionalities",
										IDC_MSG_INFO, 100, 9, 325, 40, SS_LEFT
	CONTROL 					IDB_BITMAP_SOFFID_IMG, IDC_IMG_SOFFIDLOG, WC_STATIC,
										SS_BITMAP, 17, 7, 47, 43
	AUTOCHECKBOX			"Use Soffid windows logon screen",
										IDC_CHECKBOX_SOFFID_GINA,
										27, 244, 180, 8, BS_LEFT
	GROUPBOX					"Login style", IDC_GROUPBOX_GINA, 17, 201, 198, 57
	LTEXT							"If you uncheck 'Soffid GINA login', it will use default OS GINA to login users",
										IDC_MSG_LOGIN_GINA_INFO, 27, 216, 180, 25, SS_LEFT
	GROUPBOX 					"Login on startup", IDC_GROUPBOX_LOGIN_STARTUP,
										17, 130, 198, 65
	LTEXT							"Check if you want force login on system startup",
										IDC_MSG_LOGIN_STARTUP_INFO, 27, 140, 180, 20, SS_LEFT
	AUTOCHECKBOX			"Force login on startup", IDC_CHECKBOX_FORCE_LOGIN,
										27, 165, 180, 8
	GROUPBOX					"Close session", IDC_GROUPBOX_CLOSE_SESSION,
										227, 51, 198, 57
	LTEXT							"If check, the users can close session on OS",
										IDC_MSG_CLOSE_SESION_INFO, 237, 66, 180, 25, SS_LEFT
	AUTOCHECKBOX			"Users can close session", IDC_CHECKBOX_CLOSE_SESSION,
										237, 91, 180, 8, BS_LEFT
	LTEXT							"If you change the server URL, you will must retrieve the server certificate",
										IDC_MSG_CLOSE_SERVER_INFO, 27, 66, 180, 20, SS_LEFT
	GROUPBOX					"ESSO Server URL", IDC_GROUPBOX_SERVER, 17, 51, 198, 57
	EDITTEXT						IDC_EDIT_SERVER_URL, 72, 89, 135, 12, ES_AUTOHSCROLL
	LTEXT							"Server URL:", IDC_TXT_SERVER_URL, 27, 91, 40, 8, SS_LEFT
	PUSHBUTTON				"Retrieve certificate", IDC_BUTTON_RETRIEVE_CERT,
										135, 112, 80, 14
	GROUPBOX					"Login type", IDC_GROUPBOX_LOGIN_TYPE, 227, 130, 198, 65
	LTEXT							"Select the login type to access", IDC_MSG_LOGIN_TYPE_INFO,
										237, 140, 180, 20, SS_LEFT
	AUTORADIOBUTTON	"Kerberos login", IDC_RADIO_KERBEROS, 237, 168, 80, 8, WS_GROUP
	AUTORADIOBUTTON	"Manual login", IDC_RADIO_MANUAL, 237, 181, 80, 8
	AUTORADIOBUTTON	"Both*", IDC_RADIO_BOTH, 237, 153, 80, 8
	LTEXT							"*Try identifying with Kerberos. If it is not possible as requested username and password",
										 IDC_MSG_BOTH_INFO, 325, 153, 95, 35, SS_LEFT
}