Section: soffid
Source: soffidesso-src
Priority: optional
Maintainer: Soffid <contact@soffid.com>
Package: soffidesso
Version: ${project.version}
Architecture: i686
Description: Soffid ESSO
Depends:libsoup2.4-1, wget, libpcsclite1, libc6 ( >= 2.31 ), libcurl3-gnutls
Distribution: focal
