
// Language definition
LANGUAGE LANG_CATALAN, SUBLANG_CATALAN_CATALAN

/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SELACCOUNT DIALOG DISCARDABLE  0, 0, 299, 175
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_CAPTION | 
	WS_SYSMENU
CAPTION "Sel·leccioni compte"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         			IDC_LIST1,7,22,230,146,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    				WS_TABSTOP | 0x2000
    DEFPUSHBUTTON				"Sel·leccionau",IDOK,242,25,50,14
    PUSHBUTTON 			     	"Cancel·lau",IDCANCEL,242,46,50,14
    LTEXT           			"Sel·leccioni el compte a utilitzar", IDC_STATIC, 7, 7, 136, 10
END

