
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
1               ICON    DISCARDABLE     "uninstall.ico"
100               ICON    DISCARDABLE     "mzn1.ico"
