//Microsoft Developer Studio generated resource script.
//
#include <windows.h>
#include <winver.h>

#include "resource.h"

1 RT_MANIFEST "installer.exe.manifest" 

/////////////////////////////////////////////////////////////////////////////////////
// Ejectuables 32 bits
Mazinger.exe 			IDT_FILE "com.soffid.iam.esso.w32.Mazinger.exe.bzip"
MazingerHook.dll	IDT_FILE "com.soffid.iam.esso.w32.MazingerHook.dll.bzip"
KojiHook.dll				IDT_FILE "com.soffid.iam.esso.w32.KojiHook.dll.bzip"
KojiKabuto.exe 		IDT_FILE "com.soffid.iam.esso.w32.KojiKabuto.exe.bzip"
uninstall.exe 			IDT_FILE "com.soffid.iam.esso.w32.MazingerUnInstaller.exe.bzip"
AfroditaE.dll 			IDT_FILE "com.soffid.iam.esso.w32.afrodita-explorer.dll.bzip"
AfroditaFC32.dll 			IDT_FILE "com.soffid.iam.esso.w32.afrodita-firefox-ctype.dll.bzip"
AfroditaFC64.dll 			IDT_FILE "com.soffid.iam.esso.w64.afrodita-firefox-ctype.dll.bzip"
AfroditaC.exe 			IDT_FILE "com.soffid.iam.esso.w32.afrodita-chrome.exe.bzip"
JetScrander.exe 		IDT_FILE "com.soffid.iam.esso.w32.JetScrander.exe.bzip"
SayakaGina.dll 		IDT_FILE "com.soffid.iam.esso.w32.SayakaGina.dll.bzip"
SayakaCP.dll   			IDT_FILE "com.soffid.iam.esso.w32.sayaka-cp.dll.bzip"
ShiroKabuto.exe 		IDT_FILE "com.soffid.iam.esso.w32.ShiroKabuto.exe.bzip"
Boss.exe 					IDT_FILE "com.soffid.iam.esso.w32.boss.exe.bzip"
Nossori.exe 					IDT_FILE "com.soffid.iam.esso.w32.nossori.exe.bzip"
SoffidConfig.exe 		IDT_FILE "com.soffid.iam.esso.w32.SoffidConfig.exe.bzip"
sewashi.exe 			IDT_FILE "com.soffid.iam.esso.w32.Sewashi.exe.bzip"
sewbr.dll 				IDT_FILE "com.soffid.iam.esso.w32.Sewbr.dll.bzip"

profyumi.jar 			IDT_FILE "com.soffid.iam.esso.java.javahook.jar.bzip"
logon.tcl 					IDT_FILE "logon.tcl.bzip"
seycon.cer				IDT_FILE "seycon.cer.bzip"
afroditaFf.xpi 			IDT_FILE "afroditaFf.xpi.bzip"
afroditaFf2.xpi 		IDT_FILE "afroditaFf2.xpi.bzip"

/////////////////////////////////////////////////////////////////////////////////////
// Ejectuables 64 bits
Mazinger64.exe 			IDT_FILE "com.soffid.iam.esso.w64.Mazinger.exe.bzip"
MazingerHook64.dll	IDT_FILE "com.soffid.iam.esso.w64.MazingerHook.dll.bzip"
KojiHook64.dll				IDT_FILE "com.soffid.iam.esso.w64.KojiHook.dll.bzip"
KojiKabuto64.exe		IDT_FILE "com.soffid.iam.esso.w64.KojiKabuto.exe.bzip"
AfroditaE64.dll			IDT_FILE "com.soffid.iam.esso.w64.afrodita-explorer.dll.bzip"
JetScrander64.exe 		IDT_FILE "com.soffid.iam.esso.w64.JetScrander.exe.bzip"
SayakaCP64.dll 			IDT_FILE "com.soffid.iam.esso.w64.sayaka-cp.dll.bzip"
SoffidConfig64.exe		IDT_FILE "com.soffid.iam.esso.w64.SoffidConfig.exe.bzip"
AfroditaC64.exe			IDT_FILE "com.soffid.iam.esso.w64.afrodita-chrome.exe.bzip"

/////////////////////////////////////////////////////////////////////////////////////
// MINGW libraries
libwinpthread-1-32.dll	IDT_FILE "libwinpthread-1-32.dll.bzip"
libwinpthread-1-64.dll	IDT_FILE "libwinpthread-1-64.dll.bzip"

/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Icon
//
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SOFFID_ICON	ICON	DISCARDABLE     "Soffid_Icon.ico"


#include "version.rc"

