
// Language definition
LANGUAGE LANG_CATALAN, SUBLANG_CATALAN_CATALAN

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
	1,			"PIN incorrecte"
 	2,			"Targeta criptogràfica"
 	3,			"No te accés al servidor. No se pot iniciar sessió"
 	4,			"Error a la targeta criptogràfica. No s'ha pogut signar la sol·licitud d'inici de sessió"
 	5,			"No te accés a la xarxa Intranet. No se pot iniciar sessió"
 	6,			"El servidor ha rebutjat la petició d'inici de sesió: "
 	7,			"Error accedit al servidor: "
 	8,			"El sistema no disposa de les credenciasl necessàries. Contacti amb el centre de suport"
 	9,			"Impossible contactar amb els servidors"
 	10,		"Tipus de targeta desconeguda: "
 	11,		"Gestió de targeta intel·ligent"
 	12,		"Hola"
 	13,		"Iniciar sessio"
 	14,		"Ha de canviar la contrasenya d'Intranet"
 	15,		"(No es canviarà el PIN de la targeta)"
 	16,		"Les dues contrasenyes no coincideixen"
 	17,		"Examinant targeta criptogràfica"
 	18,		"Verificant validesa del certificat"
 	19,		"Contrasenya incorrecta"
 	20,		"El compte està cancel·lat"
 	21,		"Es necessari canviar la contrasenya."
	22,		"Imposible ejecutar"
	23,		"Imatge"
	24,		"Targeta"
	25,		"PIN"
	26,		"Certificat"
	27,		"Iniciar"
	28,		"Missatge"
	29,		"Nova Contrassenya"
	30,		"Nova Contrassenya (repetició)"
	31,		"Hola"
	32,		"Autorizació per a usuari d'Intranet"
	33,		"Iniciar sesió"
	34,		"Validant usuari i contrasenya"
	35,		"Recuperar contrasenya"
	36,		"Usuari"
	37,		"Enviar"
	38,		"Error de xarxa"
	39,		"El sistema ha rebutjat la seva resposta"
	40,		"Resposta"
	
END

IDD_ENTERPIN DIALOG DISCARDABLE  0, 0, 280, 61
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_CAPTION |
	WS_SYSMENU
CAPTION "Accés a la Intranet"
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT					IDC_PIN, 65, 28, 133, 12, ES_PASSWORD | ES_AUTOHSCROLL
	DEFPUSHBUTTON	"Acceptau", IDOK, 223, 7, 50, 14
	PUSHBUTTON			"Cancel·lau", IDCANCEL, 223, 28, 50, 14
	LTEXT						"Introduïu el PIN d'accés a la tarja criptogràfica",
									IDC_STATIC, 65, 7, 156, 11
	CONTROL					"TARJA",IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE |
									SS_REALSIZEIMAGE,7,7,52,47
END

IDD_MESSAGE DIALOG DISCARDABLE  0, 0, 330, 98
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Accés a la xarxa corporativa"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL		"SOFFID_LOGO", IDC_BITMAP, "Static", SS_BITMAP | SS_REALSIZEIMAGE,
						0, 0, 330, 50
	LTEXT			"", IDC_MESSAGE, 13, 79, 324, 8
END

IDD_LOGOUT DIALOGEX 0, 0, 389, 273
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Accés a la xarxa corporativa"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
	CONTROL					"SOFFID_LOGO", IDC_BITMAP, "Static",
									SS_BITMAP | SS_CENTERIMAGE, 0, 0, 389, 71,
									WS_EX_TRANSPARENT
	EDITTEXT					IDC_EDIT1, 11, 78, 366, 168, ES_MULTILINE | ES_READONLY |
									ES_WANTRETURN | NOT WS_BORDER | WS_VSCROLL |
									NOT WS_TABSTOP
	DEFPUSHBUTTON	"Acceptau",IDOK, 327, 250,50,14
END